apiVersion: v1
kind: Service
metadata:
  name: cart-service
  labels:
    app: cart-service 
spec:
  type: ClusterIP
  selector:
    app: cart-service
  ports:
    - protocol: TCP
      port: 7070
      targetPort: 7070
      