apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-deployment
  labels:
    app: email-service
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: email-service
  template:
    metadata:
      labels:
        app: email-service
    spec:
      containers:
      - name: email-service
        image: docker.io/yugandhar7/email-svc:v2
        ports:
        - containerPort: 8080    
        envFrom:
          - configMapRef:
              name: app-config
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 5
