apiVersion: apps/v1
kind: Deployment
metadata:
  name: paayment-deployment
  labels:
    app: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: docker.io/yugandhar7/payment-svc:v2
        ports:
        - containerPort: 50051
        envFrom:
          - configMapRef:
              name: app-config  
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 50051
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 50051
          initialDelaySeconds: 15
          periodSeconds: 5
